@import url(http://fonts.googleapis.com/css?family=Montserrat);

$primary-color: #191b27;
//$primary-color: #28c4d8;
//$secondary-color: #dcffff;
$secondary-color: #28c4d8;
$info-color: #1cacac;

$alert-button-color: #fd3600;

//$ask-bg: #dcffff;
$ask-bg: #28c4d8;

$body-font-family: 'Montserrat', sans-serif;

$google: #dd4b39;
$facebook: #3b5998;
$twitter: #4099FF;

@import "settings";
@import "foundation";

@import "actionkit/general";
@import "actionkit/header";
@import "actionkit/thanks";
@import "actionkit/petition";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
