{% extends "./wrapper.html" %}{% load actionkit_tags %}{% load smartif %}

{% block content %}
<!-- @START Development Template/donate.html -->
<script language="javascript">
	function clear_radio_buttons() {
		$('input.amount_radio_button').attr('checked', false);
	}

	function clear_other() {
		$('#amount_other_field').val("");
	}

	var address_fields = [ 'address1', 'addressdesk2', 'city','state', 'zip' {% if page.allow_international %},'postal', 'region', 'country'{% endif %} ];

	function toggle_shipping(e) {
		for (i in address_fields) {
			field = address_fields[i];

			if (e.checked) {
				$('#shipping_' + field).val($('#' + field).val());
				$('#id_shipping_state').val($('#id_state').val());
				$('#shipping_' + field).attr("readonly", true);
			} else {
				$('#shipping_' + field).val("");
				$('#id_shipping_state').val("");
				$('#shipping_' + field).attr("readonly", false);
			}
		}

		{% if page.allow_international %}
			shipping_country_change();
		{% endif %}
	}

	function sync_to_shipping(e) {
		if (!$('#shipping_same').attr("checked"))
			return;

		for (i in address_fields) {
			field = address_fields[i];

			$('#shipping_' + field).val($('#' + field).val());
			$('#id_shipping_state').val($('#id_state').val());
		}

		{% if page.allow_international %}
			shipping_country_change();
		{% endif %}
	}

	function update_total() {
		var total = 0.0;

		$('.ak_product_inputs').each(function (i) {
			// max == 1 produces checkboxes for these
			if (this.type == "checkbox" && !this.checked)
				return;

			// check that quantity is a valid int
			var quantity = this.value;

			if (quantity.length == 0 || !/^[1-9]\d*$/.test(quantity))
				return;

			// and price is a valid dollar amount
			var price = $('#' + this.id + '_price').text();

			// Remove any currency formatting
			price = Number(price.replace(/[^0-9\.]+/g,""));

			if (price.length == 0 || !/^[1-9]\d*(\.\d\d)?$/.test(price))
				return;

			total += parseInt(quantity) * parseFloat(price);
		});

		$('.ak_candidate_inputs').each(function (i) {
			// check that amount is a valid amount
			var amount = this.value;

			if (amount.length == 0 || !/^[0-9]\d*(\.\d\d)?$/.test(amount))
				return;

			total += parseFloat(amount);
		});

		// look for checked off donation amounts
		var amount_checked = $('input:radio[name=amount]:checked').val(); 

		if (amount_checked) {
			total += parseFloat(amount_checked);
		} else {
			// or other amounts
			var other = $('#amount_other_field').val();

			if (other && /^[0-9]\d*(\.\d{2})?$/.test(other))
				total += parseFloat(other);
		}

		// Set the amount so GA can easily get it
		$('#ga-amount').val(total.toFixed(2));

		var new_total = total == 0 ? "" : '$' + total.toFixed(2);

		if (new_total != $('#total').html()) {
			$('#total').html(new_total);
		}
	}

	{% if page.allow_international %}
		function country_change() {
			country = $('#country').val();

			if (country == 'United States') {
				$('#us_billing_fields').show();
				$('#intl_billing_fields').hide();
			} else {
				$('#us_billing_fields').hide();
				$('#intl_billing_fields').show();
			}

			sync_to_shipping();
		}

		function shipping_country_change() {
			shipping_country = $('#shipping_country').val();

			if (shipping_country == 'United States') {
				$('#us_shipping_fields').show();
				$('#intl_shipping_fields').hide();
			} else {
				$('#us_shipping_fields').hide();
				$('#intl_shipping_fields').show();
			}
		}
	{% endif %}
</script>


{% comment %}
	/*
-------------------------------------------------------------------------------
		@START - Google Analytics Tracking
-------------------------------------------------------------------------------
	*/
{% endcomment %}
<script>
	/*
		Function to make GA events for problems during donating
	*/
	function logValidationErrors() {
		$('#ak-errors li').each(function() {
			var errorMessage = $(this).html();

			if(errorMessage.length > 0 && errorMessage != "For your security, your card number has been cleared.") {
				if(knownUser) {
					ga( 'send', 'event', 'Validation Error', '{{ user.email }}', errorMessage, {{ page.id }} );
				} else if ( $('#email').val() != "" ) {
					ga( 'send', 'event', 'Validation Error', $('#email').val(), errorMessage, {{ page.id }} );
				} else {
					ga( 'send', 'event', 'Validation Error', 'Unknown User', errorMessage, {{ page.id }} );
				}
				
				if ( typeof $.cookie('user') !== 'undefined') { 
					ga( 'send', 'event', 'Cookie', 'Validation Error', $.cookie('user') + ': ' + errorMessage + " on {{ page.id }}", {{ page.id }} );			
					ga( 'send', 'event', 'Cookie', $.cookie('user'), 'Validation Error: ' + errorMessage + " on {{ page.id }}", {{ page.id }} );			
				}				
			}
		});
	}

	$(document).ready(function() {
		// Set up tracking events on form submit
		$('#act').submit(function() {
			{% if page.custom_fields.splash_page %}
				if( $(this).valid() ) {
			{% endif %}
				if(knownUser) {
					ga('send', 'event', 'Submission Attempt', '{{ user.email }}', 'Amount (' + $('#ga-amount').val() + ')', {{ page.id }});
					ga('send', 'event', 'Submission Attempt', '{{ user.email }}', 'Type (' + $('input[name="donation_type"]:checked').val() + ')', {{ page.id }});	
				} else if ( $('#email').val() != "" ) {
					ga('send', 'event', 'Submission Attempt', $('#email').val(), 'Amount (' + $('#ga-amount').val() + ')', {{ page.id }});
					ga('send', 'event', 'Submission Attempt', $('#email').val(), 'Type (' + $('input[name="donation_type"]:checked').val() + ')', {{ page.id }});	
				} else {
					ga('send', 'event', 'Submission Attempt', 'Unknown User', 'Amount (' + $('#ga-amount').val() + ')', {{ page.id }});
					ga('send', 'event', 'Submission Attempt', 'Unknown User', 'Type (' + $('input[name="donation_type"]:checked').val() + ')', {{ page.id }});
				}

				if ( typeof $.cookie('user') !== 'undefined') { 
					ga('send', 'event', 'Cookie', 'Submission Attempt', $.cookie('user') + ' on {{ page.id }} for ' + $('#ga-amount').val() + ' (' + $('input[name="donation_type"]:checked').val() + ')');
					ga('send', 'event', 'Cookie', $.cookie('user'), 'Submission Attempt on {{ page.id }} for ' + $('#ga-amount').val() + ' (' + $('input[name="donation_type"]:checked').val() + ')');
				}
			{% if page.custom_fields.splash_page %}
				}
			{% endif %}
		});

		// Set up tracking for donation type change
		$('input[name="donation_type"]').change(function() {
			if( $(this).is(':checked') ) {
				if(knownUser) {
					ga( 'send', 'event', 'Form Interaction', '{{ user.email }}', 'Type Changed (' + $(this).val() + ')', {{ page.id }} );
				} else if ( $('#email').val() != "" ) {
					ga( 'send', 'event', 'Form Interaction', $('#email').val(), 'Type Changed (' + $(this).val() + ')', {{ page.id }} );
				} else {
					ga('send', 'event', 'Form Interaction', 'Unkown User', 'Type Changed ('+ $(this).val() + ')', {{ page.id }} );
				}			

				if ( typeof $.cookie('user') !== 'undefined') { 
					ga( 'send', 'event', 'Cookie', 'Form Interaction', 'Type Changed (' + $.cookie('user') + ' to ' + $(this).val() + ')', {{ page.id }});
					ga( 'send', 'event', 'Cookie', $.cookie('user'),  'Type Changed to ' + $(this).val() + ' on {{ page.id }}', {{ page.id }});
				}
			}
		});

		// Track "next" button clicked
		$('.next').click(function() {
			var page = $(this).data('page');
			{% if page.custom_fields.splash_page %}
				if($('#act').valid()) {
			{% endif %}
				if(knownUser) {
					ga('send', 'event', 'Form Interaction', '{{ user.email }}', 'Next Pressed (' + (page - 1) + ')');
				} else if ( $('#email').val() != "" ) {
					ga('send', 'event', 'Form Interaction', $('#email').val(), 'Next Pressed (' + (page - 1) + ')');
				} else {
					ga('send', 'event', 'Form Interaction', 'Unknown User', 'Next Pressed (' + (page - 1) + ')');
				}

				if ( typeof $.cookie('user') !== 'undefined') { 
					ga( 'send', 'event', 'Cookie', 'Form Interaction', 'Next Pressed (' + $.cookie('user') + ' on {{ page.id }})', {{ page.id }});
					ga( 'send', 'event', 'Cookie', $.cookie('user'),  'Form Interfaction - Next Pressed {{ page.id }}', {{ page.id }});			
				}
			{% if page.custom_fields.splash_page %}
				} else {
			{% endif %}
				logValidationErrors();

				if ( typeof $.cookie('user') !== 'undefined') { 
					ga( 'send', 'event', 'Cookie', 'Form Interaction', 'Next Pressed w/ Errors (' + $.cookie('user') + ' on {{ page.id }})', {{ page.id }});
					ga( 'send', 'event', 'Cookie', $.cookie('user'),  'Form Interfaction - Next Pressed w/ Errors {{ page.id }}', {{ page.id }});			
				}
			{% if page.custom_fields.splash_page %}
				}
			{% endif %}
		});

		// Track "prev" button clicked
		$('.prev').click(function() {
			var page = $(this).data('page');

			if(knownUser) {
				ga('send', 'event', 'Form Interaction', '{{ user.email }}', 'Back Pressed (' + (page + 1) + ')');
			} else if ( $('#email').val() != "" ) {
				ga('send', 'event', 'Form Interaction', $('#email').val(), 'Back Pressed (' + (page + 1) + ')');
			} else {
				ga('send', 'event', 'Form Interaction', 'Unknown User', 'Back Pressed (' + (page + 1) + ')');
			}
		});

		// Log any errors that AK spits back
		window.setTimeout(function() {
			logValidationErrors();
		}, 500);
	});
</script>
{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - Google Analytics Tracking
-------------------------------------------------------------------------------
	*/
{% endcomment %}



{% comment %}
	/*
-------------------------------------------------------------------------------
		@START - Custom Page Functions JS
-------------------------------------------------------------------------------
	*/
{% endcomment %}
<script>
	/*
		Load custom fields from URL
	*/
	window.setTimeout( function() {
		// Contributing Member
		if( getURLParameter( 'action_contributing_member' ) == 1 ) {
			$( '#contributing_member_yes' ).prop( 'checked', true );
			$( '#jstreet-chapters' ).fadeIn( 300 );
		}

		if ( getURLParameter( 'action_inhonorof' ) == 'in_honor' || getURLParameter( 'action_inhonorof' ) == 'in_memoriam' ) {
			$( '#in_honor_of_options' ).val( getURLParameter( 'action_inhonorof' ) );

			$( '#notification_options').show();

			// Make sure the two step boxes are the same height
			$.fn.matchHeight._update();
		}

		var notification_type = getURLParameter( 'action_iho_notification_type');

		if ( notification_type == 'email' || notification_type == 'mail' || notification_type == 'na' ) {
			// AK messes these up
			$( '#not_type_na' ).val( 'na' );
			$( '#not_type_email' ).val( 'email' );
			$( '#not_type_mail' ).val( 'mail' );

			$( 'input[name="action_iho_notification_type"][value="' + notification_type + '"]' ).click();

//			$( '#notification-fields' ).show();

			// Make sure the two step boxes are the same height
//			$.fn.matchHeight._update();
		}

		if ( getURLParameter( 'action_iho_recipient_notification_message' ) != null ) {
			$( 'label[for="id_action_iho_recipient_notification_message"]' ).addClass( 'has-content' );
			$( 'textarea[name="action_iho_recipient_notification_message"]').val( getURLParameter( 'action_iho_recipient_notification_message' ) );
		}

	}, 500);

	$( document ).ready( function() {
{% comment %}

		// Contributing Member Functions
		$('input[name="user_contributing_member"]').trigger('change');

		/*
			Show / Hide the contributing member drop down
		*/
		$( 'input[name="user_contributing_member"]' ).change( function() {
			if( $( this ).is( ':checked' ) && $( this ).data( 'value' ) == 'yes' ) {
				$( '#jstreet-chapters' ).fadeIn( 300 );
				$( '#action_contributing_member_field' ).val( '1' );

			} else {
				$( '#jstreet-chapters' ).fadeOut( 300 );
				$( '#action_contributing_member_field' ).val( '0' );
			}
		});
{% endcomment %}
		// Make sure the two step boxes are the same height
		$( '.step-wrapper' ).matchHeight();

		{% if not has_candidates and not has_products %}
			$( '#id_c4_member' ).change( function() {
				if( !$(this).is('checked') ) {
					$( '#recurring-ask' ).show();
					$( '#donateModal' ).foundation( 'reveal', 'open' );	
				}
			});
		{% endif %}
	});

	/*
		Get a parameter from the URL
	*/
	function getURLParameter(name) {
		return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
	}
</script>
{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - Custom Page Functions JS
-------------------------------------------------------------------------------
	*/
{% endcomment %}


{% with page.payment_processor_information as pp %}
	{% if pp.use_cse %}
		<script language="javascript" src="/samples/ak_braintree_cse.js"></script>
		<script language="javascript" src="/media/js/braintree-cse.js"></script>

		<script type="text/javascript">
			$(function () {
				var form = $('form#act')[0];

				clientSideEncryptionKey = "{{ pp.cse_key }}";
				braintree_cse.encryptOnSubmit(form, clientSideEncryptionKey);

				$('form#act input[type=submit]').removeAttr('disabled');
			});
		</script>
	{% endif %}

	{% if pp.use_tr %}
		<script language="javascript" src="/samples/braintree.js"></script>
	{% endif %}
{% endwith %}

{% comment %}
	/*
		---------------------------------------------------------------
			START - Donation Form - Markup
		---------------------------------------------------------------
	*/
{% endcomment %}

<form id="act" name="act" class="{% if page.payment_processor_information.use_tr %}braintree_form{% endif %}" method="POST" action="/act/" accept-charset="utf-8">
	<input type="hidden" name="orig_akid" value="{{ akid }}">
	<input type="hidden" name="page" value="{{ page.name }}">

	{% if not page.allow_international %}
		<input type="hidden" name="country" value="United States">
	{% endif %}

	<div class="row">
		<div class="small-12 columns page-title">
			<h2>
				{{ page.title }}

				{% if page.custom_fields.page_subtitle %}
					<br><span class="subtitle">{{ page.custom_fields.page_subtitle }}</span>
				{% endif %}
			</h2>
		</div> <!-- .page-title -->
	</div> <!-- .row -->

	<div class="row hide-for-small desktop-ask">
		<div class="large-12 columns page-ask">
			{% if page.custom_fields.image %}
				<div class="custom-image">
					<img src="{{ page.custom_fields.image }}" />
				</div> <!-- .custom-image -->
			{% endif %}
		
			{% include_tmpl form.ask_text %}
		</div> <!-- .page-ask -->
	</div> <!-- .desktop-petition -->

	<div class="row ak-error-wrapper">
		<div class="large 12 columns">
			<ul id="ak-errors" class="hidden"></ul>
		</div>
	</div> <!-- .ak-error-wrapper -->

	<div class="row">
		<div id="step-one" class="donate-step large-5 columns">
			<div class="step-wrapper">
				<h3 class="step-header">
					<span class="arrow"></span>Step 1</strong>: Select your donation
				</h3> <!-- .step-header -->

				{% if not has_products %}
					{% if allow_monthly %}
						<div class="row">
							<div id="type" class="ak-clear ak-err-below large-12 columns">
								<label for="donation_type" class="uppercase">Choose frequency of donation</label>
								<span><input type="radio" name="donation_type" id="id_donation_type_single" value="single" checked><label for="id_donation_type_single"> One-Time Donation<label></span>
								<span><input type="radio" name="donation_type" id="id_donation_type_recurring" value="recurring"><label for="id_donation_type_recurring"> Monthly Donation</label></span>
							</div>
						</div> <!-- .row -->
					{% else %}
						<div id="type" class="ak-clear"></div>
						<input type="hidden" name="donation_type" value="single">
					{% endif %}
				{% endif %}

				<div class="row">
					<div class="large-12 columns">
						{% if not page.custom_fields.disable_c4_member %}
							<div id="id_c4_member_box" class="c4-member">
								<label for="id_c4_member">
									<input id="id_c4_member" type="checkbox" name="user_c4_member" value="1" checked="checked">I want to stand up and be counted as a J Street Member
								</label>
							</div>
						{% endif %}
					</div>
				</div>

				{% comment %}
					<div class="row">
						<div class="contributing-member large-12 columns">
							<label for="user_contributing_member" class="uppercase">Would You Like to Become a Contributing Member of J Street?<span><em>(Optional -</em> <strong>Requires minimum one-time gift of $36 or monthly gift of $10)</strong></span></label>

							<div class="row">
								<div class="large-3 columns">
									<div class="row">
										<div class="large-12 columns">
											<span class="contributing_member_box">
												<input type="radio" name="user_contributing_member" id="contributing_member_yes" data-value="yes"><label for="contributing_member_yes">Yes</label>
											</span>
										</div>

										<div class="large-12 columns">
											<span class="contributing_member_box">
												<input type="radio" name="user_contributing_member" id="contributing_member_no" data-value="no"><label for="contributing_member_no">No</label>
											</span>
										</div>

										<input id="action_contributing_member_field" type="hidden" name="action_contributing_member" value="0" />
									</div>
								</div>

								<div id="jstreet-chapters" class="large-9 columns hidden">
									<label>Do you want to join through a J Street chapter?</label>
									{{page.custom_fields.member_chapters_select|safe}}
								</div> <!-- #jstreet-chapters -->
							</div> <!-- .row -->
						</div> <!-- .contributing-member -->
					</div> <!-- .row -->
				{% endcomment %}

				<div class="row">
					<div class="amounts large-12 columns">
						<label for="amount" class="uppercase">Choose Donation Amount</label>
						
						<div id="amount_list" class="row ak-err-above">
							{% for amount in amounts %}
								{% ifequal amount "other" %}
									<div id="other_amount_container" class="large-4 medium-4 small-6 columns">
										<noscript><input type="radio" value="" class="amount_radio_button" name="amount"></noscript>
										<label for="amount_other_field" class="ak-btn"><span class="currency_sym">{{ page.currency_sym }}</span></label>
										<input type="text" id="amount_other_field" name="amount_other" size="3" onKeypress="clear_radio_buttons();" onClick="update_total()" onBlur="update_total()" onChange="update_total()">
									</div>
								{% else %}
									<div class="large-2 small-3 columns">
										<label for="id_amount_{{amount}}" class="ak-btn"><span class="currency_sym"></span><input type="radio" id="id_amount_{{amount}}" value="{{ amount }}" class="amount_radio_button" name="amount" onClick="clear_other(); update_total()"  onBlur="update_total()" onChange="update_total()" {% if not args.amount_other and amount == default_amount %}checked{% endif %}>{{ page.currency_sym }}{{ amount|commify }}</label>
									</div>
								{% endifequal %}
							{% endfor %}
						</div> <!-- #amount_list -->
					</div> <!-- .amounts -->
				</div> <!-- .row -->

				{% if has_products %}
					<div class="row">
						<div class="large-12 columns">
							<label id="products-label" class="ak-label-above uppercase">{% if page.custom_fields.event_tickets %}Ticket{% if products|length > 1 %}s{% endif %}{%else%}Product{% if products|length > 1 %}s{% endif %}{% endif %}</label>
							
							<table{% if page.custom_fields.event_tickets %} class="ticket-table"{% endif %}>
								<tr id="product-table-headers">
									<th id="product-quantity-header"{% if page.custom_fields.event_tickets %} colspan="2"{% endif %}>Quantity</th>
									<th id="product-details-header">Product</th>
									<th id="product-amount-header">Price</th>
								</tr>

								{% for product in products %}
									<tr>
										{% if page.custom_fields.event_tickets %}
											<td>
												<a class="ticket-add button small" data-product="{{ product.id }}" data-name="{{ product.name }}">
													<i class="fa fa-2x fa-plus"></i>
												</a>
											</td>
										{% endif %}
										<td class="product-quantity">

											{% ifequal product.max 1 %}
												<input type="checkbox" value="1" name="product_{{ product.id }}" id="product_{{ product.id }}" class="ak_product_inputs" onBlur="update_total()" onChange="update_total()">
											{% else %}
												<input type="text" name="product_{{ product.id }}" id="product_{{ product.id }}" size="2" class="ak_product_inputs" onBlur="update_total()" onChange="update_total()" data-product="{{ product.id }}" {% if page.custom_fields.event_tickets %}disabled{% endif %}>
											{% endifequal %}
										</td>

										<td class="product-details">
											<div class="product-name">{{ product.name }}</div>
											{% if product.desc %}<div class="product-description">{{ product.desc }}</div>{% endif %}
										</td>

										<td class="product-amount">
											<span id="product_{{ product.id }}_price" data-price="{{ product.price }}">{% ifequal product.price 0 %}FREE!{% else %}{{ page.currency_sym }} {{ product.price|commify }}{% endifequal %}</span>
										</td>
									</tr>
									
								{% endfor %}
							</table>
						</div>
					</div> <!-- .row -->

{% comment %}
	/*
-------------------------------------------------------------------------------
		@START - Event Ticket Code
-------------------------------------------------------------------------------
	*/
{% endcomment %}
					{% if page.custom_fields.event_tickets %}
						<div id="guest-boxes"></div>

						<script>
							// Variable to hold how many tickets are in the URL (ie failed CC validation)
							var ticketCount;
							
							// Loop through our products on this page
							{% for product in products %}
								// Get how many of this ticket the user had tried to purchase
								ticketCount = getURLParameter( 'product_' + {{ product.id}} );

								// Loop through the tickets
								for( var i = 1; i <= ticketCount; i++ ) {
									// Add HTML guest box for this particular ticket
									createGuestlist( {{ product.id}}, '{{ product.name }}', getGuests( {{ product.id }} ), i );

									// Set the value of the primary text field
									$( 'input[name="action_{{ product.id }}-' + i + '-primary-name"]').val( getURLParameter( '{{ product.id }}-' + i + '-primary-name') );

									// Loop through the rest of the boxes for this ticket
									for( var j = 1; j < getGuests( {{ product_id }} ); j++ ) {
										// Get the name of the guest box from the URL
										$( 'input[name="action_{{ product.id }}-' + i + '-guest- ' + j + '-name"]').val( getURLParameter( '{{ product.id }}-' + i + '-guest- ' + j + '-name') );
									}
								}
							{% endfor %}

							// On submitm, we need to enable the product inputs fields
							$( '#act' ).submit( function() {
								$( '.ak_product_inputs' ).each( function() {
									$( this ).prop( 'disabled', false );
								});
							});

							// Implement the "+" button functionality
							$( '.ticket-add' ).click( function() {
								// Get the AK ID of the product
								var id = $( this ).data( 'product' );

								// Get the name of the product
								var product = $( this ).data( 'name' ); 

								// Get how many guests this ticket should have
								var guests = getGuests( id );

								// Get the current number of tickets selected for this product
								var value = parseInt( $( '#product_' + id ).val() ) || 0;

								/// Incriment the number of tickets bought by 1
								$( '#product_' + id ).val( value + 1 ).change();

								// Create the HTML block to hold the guests
								createGuestlist( id, product, guests, value + 1);
							});

							// Implement the "Remove Ticket" button functionality
							$( 'body' ).on( 'click', '.ticket-remove', function() {
								// Get the HTML ID of the box to remove
								var id = $( this ).data( 'box' );

								// Get the AK ID of the product
								var product = $( this ).data( 'id' );

								// Get the current number of tickets selected for this product
								var value = parseInt( $( '#product_' + product ).val() ) || 0;

								// Disable the button so you can't spam click it
								$( this ).prop( 'disabled', true );

								// Fade out the HTML for this guest list box
								$( '#' + id ).fadeOut( 300, function() {
									// Remove the HTML entirely once the animation finishes
									$( '#' + id ).remove();

									// Ensure our columns resize after removal
									$.fn.matchHeight._update();
								});

								// Decrease the number of tickets selected by 1
								$( '#product_' + product ).val( value - 1 ).change();
							});

							// Takes an AK product ID and returns the number of guests
							function getGuests( id ) {
								if( id == 9 ) {
									return 11;
								} else if( id == 10 || id == 11 ) {
									return 9;
								} else if( id == 12 ) {
									return 1;
								} else {
									return 0;
								}
							}

							// Create the HTML for a list of guests
							function createGuestlist( product, name, guests, count ) {						
								// Create the start of the HTML string
								var html = '<div id="product-' + product +'-' + count + '" data-box="product-' + product +'-' + count + '" data-id="' + product + '" class="guest-box hidden large-12 columns"><fieldset><legend class="Uppercase">' + name +'</legend><div class="row"><div class="';

								// If there's only one guest, the primary box should only take up 6 columns
								if( guests == 1) {
									html += 'large-6';
								// Otherwise, make the primary input box take up all 12 columns
								} else {
									html += 'large-12';
								}

								// Add on more HTML
								html += ' columns"><input type="text" name="action_' + product + '-' + count + '-primary-name" placeholder="Primary Name" /></div>';

								// If there's more than one guest, add the table guest list header
								if( guests > 1 ) {
									html +='</div><div class="row"><div class="large-12 columns"><label>Table Guest List</label></div></div>';
								}

								// Loop through the number of guests
								for( var i = 0; i < guests; i++ ) {
									// Add rows as needed
									if( ( i % 3 == 0 ) && guests != 1) {
										html += '<div class="row">';
									}

									html += '<div class="large-';

									if( guests == 1 ) {
										html += '6';
									} else {
										html += '4';
									}

									html +=' columns"><input type="text" name="action_' + product + '-' + count + '-guest-' + ( i + 1 ) + '-name" placeholder="Guest Name" /></div>';
								
									// Close our rows as needed							
									if( ( i % 3 == 2 || ( i + 1 ) == guests ) && guests != 1 ) {
										html += '</div>';
									}
								}

								// Add the final part of the HTML
								html += '<a class="ticket-remove button small" data-box="product-' + product +'-' + count + '" data-id="' + product + '" >Remove Ticket</a></fieldset></div>';

								// Attach our HTML to the guest-boxes div
								$( '#guest-boxes' ).append( html );

								// Fade the guest box in
								$( '#product-' + product + '-' + count ).fadeIn( 300);

								// Make the columns match height
								$.fn.matchHeight._update();
							}
						</script>
					{% endif %}
{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - Event Ticket Code
-------------------------------------------------------------------------------
	*/
{% endcomment %}
				{% endif %}

				{% if has_candidates %}
					<div class="row">
						<div class="large-12 columns">
							<label id="candidates-label" class="ak-label-above uppercase" for="amount">Candidate{% if candidates|length > 1 %}s{% endif %}</label>

							<table id="candidates">
								<tr>
									<th id="candidate-details-header">Candidate</th>
									<th class="candidate-amount-header">Donation</th>
								</tr>
								
								{% for candidate in candidates %}
									<tr>
										<td class="candidate-details">
											{% if candidate.portrait_url %}
												{% autoescape off %}
													<img class="candidate-portrait" src="{{ candidate.portrait_url }}">
												{% endautoescape %}
											{% endif %}

											<div class="candidate-name">{{ candidate.name }}</div>
											
											{% autoescape off %}
												{{ candidate.desc }}
											{% endautoescape %}
										</td>

										<td>
											<div class="candidate-amount">
												<label>{{ page.currency_sym }}</label>
												<input type="text" name="candidate_{{ candidate.id }}" id="candidate_{{ candidate.id }}" size="2" class="ak_candidate_inputs" onBlur="update_total()" onChange="update_total()">
											</div>
										</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</div> <!-- .row -->
				{% endif %}

				{% if has_candidates or has_products %}
					<div id="total_div"></div>
					
					<script type="text/ak-template" for="total_div">
						[% if (has_products || has_candidates) { %]
							<p class="donation-total ak-clear"><label for="amount" class="uppercase">Total Amount: <span id="total"></span></label>
						[% } 
							setTimeout(update_total, 0);
						%]
					</script>
				{% endif %}

				{% if page.custom_fields.event_tickets %} 

				{% else %}
					<div class="row">
						<div class="memory-of large-12 columns">
							<label class="uppercase">Is This Donation in Honor or Memory of Someone?<span><em>(Optional - But for a notification to be sent you must include recipient's mailing address)</em></span></label>

							<div class="row">					
								<div class="large-5 columns">
									<select id="in_honor_of_options" type="text" name="action_inhonorof">
										<option value="">Choose one</option>
										<option value="in_honor">In Honor Of:</option>
										<option value="in_memoriam">In Memoriam:</option>
									</select>
								</div>

								<div class="large-7 columns">
									<input id="honor_name" type="text" name="action_iho" value="" />
								</div>
							</div> <!-- .row -->

							<div id="notification_options" class="row hidden"> 
								<div class="large-12 columns">
									<label class="uppercase">I would like to notify someone of this gift via</label>

									<div class="row">
										<div class="large-5 columns">
											<label><input id="not_type_na" type="radio" name="action_iho_notification_type" value="na" checked> No notification necessary</label>
										</div>

										<div class="large-4 columns">
											<label><input id="not_type_email"  type="radio" name="action_iho_notification_type" value="email" > Email (be green!)</label>
										</div>

										<div class="large-3 columns">
											<label><input id="not_type_mail"  type="radio" name="action_iho_notification_type" value="mail" > Letter</label>
										</div>
									</div> <!-- .row -->

									<div id="notification-fields" class="ak-labels-overlaid hidden">
										<div class="row">
											<div class="large-4 columns">
												<label for="id_action_iho_recipient_first_name">First Name</label>
												<input id="id_action_iho_recipient_first_name" type="text" name="action_iho_recipient_first_name" value="" />
											</div>

											<div class="large-4 columns">
												<label for="id_action_iho_recipient_last_name">Last Name</label>
												<input id="id_action_iho_recipient_last_name" type="text" name="action_iho_recipient_last_name" value="" />
											</div>

											<div id="iho-email" class="large-4 columns">
												<label for="id_action_iho_recipient_email">Email: </label>
												<input id="id_action_iho_recipient_email" type="text" name="action_iho_recipient_email" value="" />
											</div>
										</div> <!-- .row -->

										<div class="row hidden" id="iho-mailing">
											<div class="large-4 columns">
												<label for="id_action_iho_recipient_address">Street Address</label>
												<input id="id_action_iho_recipient_address" type="text" name="action_iho_recipient_address" value="" />
											</div>
										
											<div class="large-4 columns">
												<label for="id_action_iho_recipient_city">City</label>
												<input id="is_action_iho_recipient_city" type="text" name="action_iho_recipient_city" value="" />
											</div>
										

											<div class="large-2 columns">
												<select id="id_action_iho_recipient_state" name="action_iho_recipient_state">
													<option value="">State</option>
													<option value="AL">Alabama</option>
													<option value="AK">Alaska</option>
													<option value="AZ">Arizona</option>
													<option value="AR">Arkansas</option>
													<option value="CA">California</option>
													<option value="CO">Colorado</option>
													<option value="CT">Connecticut</option>
													<option value="DE">Delaware</option>
													<option value="FL">Florida</option>
													<option value="GA">Georgia</option>
													<option value="HI">Hawaii</option>
													<option value="ID">Idaho</option>
													<option value="IL">Illinois</option>
													<option value="IN">Indiana</option>
													<option value="IA">Iowa</option>
													<option value="KS">Kansas</option>
													<option value="KY">Kentucky</option>
													<option value="LA">Louisiana</option>
													<option value="ME">Maine</option>
													<option value="MD">Maryland</option>
													<option value="MA">Massachusetts</option>
													<option value="MI">Michigan</option>
													<option value="MN">Minnesota</option>
													<option value="MS">Mississippi</option>
													<option value="MO">Missouri</option>
													<option value="MT">Montana</option>
													<option value="NE">Nebraska</option>
													<option value="NV">Nevada</option>
													<option value="NH">New Hampshire</option>
													<option value="NJ">New Jersey</option>
													<option value="NM">New Mexico</option>
													<option value="NY">New York</option>
													<option value="NC">North Carolina</option>
													<option value="ND">North Dakota</option>
													<option value="OH">Ohio</option>
													<option value="OK">Oklahoma</option>
													<option value="OR">Oregon</option>
													<option value="PA">Pennsylvania</option>
													<option value="RI">Rhode Island</option>
													<option value="SC">South Carolina</option>
													<option value="SD">South Dakota</option>
													<option value="TN">Tennessee</option>
													<option value="TX">Texas</option>
													<option value="UT">Utah</option>
													<option value="VT">Vermont</option>
													<option value="VA">Virginia</option>
													<option value="WA">Washington</option>
													<option value="DC">Washington, D.C.</option>
													<option value="WV">West Virginia</option>
													<option value="WI">Wisconsin</option>
													<option value="WY">Wyoming</option>
												</select>
											</div>

											<div class="large-2 columns">
												<label for="id_action_iho_recipient_zip">Zip</label>
												<input id="id_action_iho_recipient_zip"  type="text" name="action_iho_recipient_zip" value="" />
												</div>
										</div> <!-- .row -->

										<div class="row">
											<div class="large-12 columns">
												<label for="id_action_iho_recipient_notification_message">Would you like to add a personal message to the notification?</label>
												<textarea id="id_action_iho_recipient_notification_message" name="action_iho_recipient_notification_message"></textarea>
											</div>
										</div>
									</div> <!-- #notification-fields -->
								</div> <!-- .large-12 -->
							</div> <!-- .row -->
						</div> <!-- .memory-of -->
					</div> <!-- .row -->
				{% endif %}
			</div> <!-- .step-wrapper -->
		</div> <!-- #step-one -->

		<div id="step-two" class="donate-step large-7 columns">
			<div class="progress-meter-wrapper">
				{% include "./progress_meter.html" %}
			</div> <!-- .progress-meter-wrapper -->

			<div class="step-wrapper">
				<h3 class="step-header">
					<span class="arrow"></span>Step 2</strong>: Enter your information
				</h3> <!-- .step-header -->

				<div class="row basic-info">
					<div class="large-12 columns">
						<label class="uppercase">Your Basic Information</label>
	
						<div class="row ak-labels-overlaid ak-errs-below">
							<div class="large-4 medium-6 columns">
								<label for="first_name">First Name</label>
								<input id="first_name" type="text" name="first_name" class="" />
								<input type="hidden" name="required" value="first_name"/>
							</div>
							
							<div class="large-4 medium-6 columns">
								<label for="last_name">Last Name</label>
								<input id="last_name" type="text" name="last_name" class="" />
								<input type="hidden" name="required" value="last_name"/>
							</div>

							<div class="large-4 medium-6 columns">
								<label class="required" for="email">Email</label>
								<input id="email" type="text" name="email" />
							</div>
						</div> <!-- .row -->
					</div> <!-- .large-12 -->
				</div> <!-- .basic-info -->

				<div class="row billing-info">
					<div class="large-12 columns ak-errs-below">
						<label class="uppercase">Your billing information</label>

						<div class="row ak-errs-below">
							<div class="large-4 medium-6 columns ak-labels-overlaid">
								<label for="address1">Billing address</label>
								<input id="address1" type="text" name="address1" onchange="sync_to_shipping()" onblur="sync_to_shipping()"/>
							</div>

							<div class="large-4 medium-6 columns ak-labels-overlaid">
								<label for="city">City</label>
								<input id="city" type="text" name="city" onchange="sync_to_shipping()" onblur="sync_to_shipping()" />
							</div>

							<div class="large-2 medium-3 columns">
								{% with 'sync_to_shipping()' as onchange %}{% include "./state_select.html" %}{% endwith %}
							</div>

							<div class="large-2 medium-3 columns ak-labels-overlaid">
								<label for="zip">Zip</label>
								<input id="zip" type="text" name="zip" maxlength="5" size="5" onchange="sync_to_shipping()" onblur="sync_to_shipping()"/>
							</div>			
						</div> <!-- .row -->		
					</div> <!-- .large-12 -->
				</div> <!-- .billing-info -->

				{% if page.has_candidates %}
					<div class="row ak-errs-below">
						<div class="large-12 columns">
							For political donations, we're required to ask for your <strong>employer</strong> and <strong>occupation</strong>:

							<div class="row">
								<div class="large-6 columns ak-labels-overlaid">
									<label for="action_employer">Employer</label>
									<input id="action_employer"  type="text" name="action_employer" size="20"/>
									<input type="hidden" name="required" value="action_employer"/>
								</div>

								<div class="large-6 columns ak-labels-overlaid">
									<label for="action_occupation">Occupation</label>
									<input id="action_occupation"  type="text" name="action_occupation" size="20"/>
									<input type="hidden" name="required" value="action_occupation"/>
								</div>
							</div> <!-- .row -->
						</div> <!-- .large-12 -->
					</div> <!-- .row -->
				{% endif %}

				{% if has_shippable_products %}
					<div class="row shipping-info">
						<div class="large-12 columns ak-errs-below">
							<label class="ak-label-above uppercase">Shipping Address</label>
			
							{% with "shipping_" as input_name_prefix %}
								<div>
									<input id="shipping_same" type="checkbox" name="shipping_same" value="1" onchange="toggle_shipping(this)"/> <label for="shipping_same">Ship to billing address</label>
								</div>

								<div class="row ak-errs-below">
									<div class="large-4 medium-6 columns ak-labels-overlaid">
										<label for="shipping_address1">Shipping address</label>
										<input id="shipping_address1" type="text" name="shipping_address1" />
									</div>

									<div class="large-4 medium-6 columns ak-labels-overlaid">
										<label for="shipping_city">Shipping city</label>
										<input id="shipping_city" type="text" name="shipping_city" />
									</div>

									{% if page.allow_international %}
										<div id="us_shipping_fields">
											<div class="large-2 medium-3 columns">
												{% include "./state_select.html" %}
											</div>

											<div class="large-2 medium-3 columns ak-labels-overlaid">
												<label for="shipping_zip">Shipping ZIP</label>
												<input id="shipping_zip"  type="text" name="shipping_zip" maxlength="5" size="5"/>
											</div>
										</div> <!-- #us_shipping_fields -->

										<div id="intl_shipping_fields">
											<div class="large-2 medium-3 columns ak-labels-overlaid">
												<label for="shipping_region">Shipping region</label>
												<input id="shipping_region"  type="text" name="shipping_region" size="20"/>
											</div>

											<div class="large-2 medium-3 columns ak-labels-overlaid">
												<label for="shipping_postal">Shipping postal Code</label>
												<input id="shipping_postal"  type="text" name="shipping_postal" size="10"/>
											</div>
										</div> <!-- #intl_shipping_fields -->

										<div class="large-12 columns">
											<label for="shipping_country">Shipping country</label>{% with 'shipping_country_change()' as onchange %}{% include "./country_select.html" %}{% endwith %}
										</div>

										<script language="javascript">shipping_country_change();</script>
									{% else %}
										<div class="large-2 medium-3 columns">
											{% include "./state_select.html" %}
										</div>

										<div class="large-2 medium-3 columns ak-labels-overlaid">
											<label for="shipping_zip">Shipping ZIP</label>
											<input id="shipping_zip"  type="text" name="shipping_zip" maxlength="5" size="5"/>
										</div>
									{% endif %}
								</div> <!-- .row -->
							{% endwith %}
						</div> <!-- .large-12 -->
					</div> <!-- .shipping-info -->
				{% endif %}

				<div class="row cc-info">
					<div class="large-12 columns">
						<label class="uppercase">Your credit card information</label>

						<div class="row">
							<div class="large-4 medium-6 columns ak-labels-overlaid">
								<label for="card_num">Credit Card #</label>
								<input id="card_num" type="text" name="card_num">
							</div>

							<div class="large-4 medium-6 columns ak-labels-overlaid">
								<label for="card_code">Verification Code</label>
								<input id="card_code" type="text" name="card_code" />
							</div>

							<div class="large-2 medium-3 columns">
								<select id="exp_date_month" type="text" name="exp_date_month">
									<option value="">Exp. Month</option>
									<option value="01">01</option>
									<option value="02">02</option>
									<option value="03">03</option>
									<option value="04">04</option>
									<option value="05">05</option>
									<option value="06">06</option>
									<option value="07">07</option>
									<option value="08">08</option>
									<option value="09">09</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
								</select>
							</div>

							<div class="large-2 medium-3 columns">
								<select id="exp_date_year" type="text" name="exp_date_year">
									<option value="">Exp. Year</option>
									<option value="15">2015</option>
									<option value="16">2016</option>
									<option value="17">2017</option>
									<option value="18">2018</option>
									<option value="19">2019</option>
									<option value="20">2020</option>
									<option value="21">2021</option>
									<option value="22">2022</option>
									<option value="23">2023</option>
									<option value="24">2024</option>
									<option value="25">2025</option>
									<option value="25">2026</option>
									<option value="25">2027</option>
									<option value="25">2028</option>
									<option value="25">2029</option>
									<option value="25">2030</option>
								</select>
							</div>
						</div> <!-- .row -->
					</div>
				</div> <!-- .cc-info -->

				<div class="row submit">
					<div class="large-12 columns">
						{% if page.payment_processor_information.use_cse %}
							<button disabled="true" type="submit" class="ak-styled-submit-button">{% if page.custom_fields.submit_button_text %}{{ page.custom_fields.submit_button_text }}{% else %}Submit Donation{% endif %}</button>
							<noscript>
								<p><b>JavaScript is required</b> so this page can securely submit your donation.</p>
							</noscript>
						{% else %}
							<button type="submit" class="button large alert">{% if page.custom_fields.submit_button_text %}{{ page.custom_fields.submit_button_text }}{% else %}Submit Donation{% endif %}</button>
						{% endif %}
					</div>
				</div> <!-- .submit -->

				{% if pp.use_cse %}
					<script src="https://js.braintreegateway.com/v1/braintree-data.js"></script>
				{% endif %}
			</div> <!-- .step-wrapper -->
		</div> <!-- #step-two -->
	</div> <!-- .row -->

	<div class="row show-for-small donate-mobile-ask">
		<div class="large-12 columns page-ask">
			{% include_tmpl form.ask_text %}
		
			{% if page.custom_fields.image %}
				<div class="custom-image">
					<img src="{{ page.custom_fields.image }}" />
				</div> <!-- .custom-image -->
			{% endif %}
		</div> <!-- .page-ask -->
	</div> <!-- .desktop-petition -->
</form>
{% comment %}
	/*
-------------------------------------------------------------------------------
	@END - Classic Layout Donation Form - Markup
-------------------------------------------------------------------------------
	*/
{% endcomment %}

{% comment %}
	/*
-------------------------------------------------------------------------------
	@START - Donation Popups
-------------------------------------------------------------------------------
	*/
{% endcomment %}
	<script>
		$( document ).ready( function() {
			$( '.popup-close' ).click( function() {
				$( '#donateModal' ).foundation( 'reveal', 'close' );
			});

			$( '#id_donation_type_single' ).click( function() {
				$( '#contributing-ask' ).hide();
				$( '#recurring-ask' ).show();

				{% if args.donation_type %}
				{% else %}
					$( '#donateModal' ).foundation( 'reveal', 'open' );
				{% endif %}
			});

			$( '.popup-recurring-ask' ).click( function() {
				if( $( this ).data( 'value' ) == 'yes' ) {
					$( '#id_donation_type_recurring' ).click();
				}

				$( '#donateModal' ).foundation( 'reveal', 'close' );
			});
		});

		function actionkitValidationErrors(errors, field) {
			if( field ) return;

			// Remove name from the list of errors
			delete errors['name:missing'];

			// Return that we had an error
			return;
		}

		/*
			Check to make sure that if the user select contributing member, that they are giving enough to qualify
		*/
		function actionkitBeforeSubmit() {
			var anual_min_contribution = 36;
			var min_contribution = $('#id_donation_type_recurring').is(':checked')? anual_min_contribution/12 : 36;
			var other_amount = $('input[name="amount_other"]').val().replace(/\D/g, '');
			var amount_selected = (!isNaN(parseInt(other_amount))) ? parseInt(other_amount) : parseInt($('input[name="amount"]:checked').val());

			if( ( isNaN( amount_selected ) || amount_selected < min_contribution ) && $( '#contributing_member_yes' ).is( ':checked' ) ) {
				$( '#contributing-ask' ).show();
				$( '#recurring-ask' ).hide();

				$( '#donateModal' ).foundation( 'reveal', 'open' );

				return false;
			}
		}
	</script>

	<div id="donateModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<div id="recurring-ask" class="hidden popup-body">
			<h3>Would you consider making this a recurring donation? You could win a trip to Israel!</h3>
			<p>Sustaining members – contributing even just a few dollars a month - provide J Street with steady, reliable support that propels our movement.</p>
			<p>Donors contributing $10 a month or more will be entered in a raffle to win a free trip to Israel.</p>

			<button class="popup-recurring-ask alert" data-value="yes">Yes, I'll make a monthly donation.</button>
			<button class="popup-recurring-ask" data-value="no">No, I want to give a one-time donation.</button>

			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div> <!-- .popup-body -->

		<div id="contributing-ask" class="hidden popup-body">
			<h3>{{page.custom_fields.min_donation_popup_text|default:"You must donate $36 or more in order to become a contributing member"}}</h3>
		
			<button class="popup-close button large alert">Ok</button>

			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div> <!-- .popup-body -->
	</div> <!-- .reveal-modal --> 
{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - Donation Popups
-------------------------------------------------------------------------------
	*/
{% endcomment %}
{% comment %}
	/*
-------------------------------------------------------------------------------
		@START - In Honor Off Logic
-------------------------------------------------------------------------------
	*/
{% endcomment %}
	<script>
		// Bind a function to the IHO select
		$( '#in_honor_of_options' ).change( function() {
			// Did we select one of the options to donate IHO someone?
			if( $( this ).val() == "in_honor" || $( this ).val() == "in_memoriam" ) {
				$( '#notification_options' ).show( function() {
					// Make sure the two step boxes are the same height
					$.fn.matchHeight._update();

					$( '#notification_options').fadeIn( 300 );
				});
			} else {
				$( '#notification_options' ).fadeOut( 300, function() {
					// Make sure the two step boxes are the same height
					$.fn.matchHeight._update();
				});
			}
		});

		$( 'input[name="action_iho_notification_type"]').change( function() {
			$( '#notification-fields' ).fadeIn( 300 );

			if( $( this ).val() == 'email' ) {
				$( '#iho-mailing' ).fadeOut( 300, function() {
					$( '#iho-email' ).show( function() {
						$.fn.matchHeight._update();	

						$( '#iho-email' ).delay( 50 ).fadeIn( 300 );
					}); 
				});
			} else if( $( this ).val() == 'mail' ) {
				$( '#iho-email' ).fadeOut( 300, function() {
					$( '#iho-mailing' ).show ( function() {
						// Make sure the two step boxes are the same height
						$.fn.matchHeight._update();

						$( '#iho-mailing' ).delay( 50 ).fadeIn( 300 );
					}); 
				});		
			} else {
				$( '#notification-fields' ).fadeOut( 300, function() {
					// Make sure the two step boxes are the same height
					$.fn.matchHeight._update();
				});
			}
		});
	</script>
{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - In Honor Off Logic
-------------------------------------------------------------------------------
	*/
{% endcomment %}
{% endblock %}

{% if pp.use_cse %}
	<script src="https://js.braintreegateway.com/v1/braintree-data.js"></script>
{% endif %}

{% block footer %}
{% endblock %}
<!-- @END Development Template/donate.html -->
