{% extends "./wrapper.html" %}{% load actionkit_tags %}
<!-- @START Development Template/signup.html -->

{% block content %}
	<form name="act" id="act" method="POST" action="/act/" accept-charset="utf-8">
		<input type="hidden" name="page" value="{{ page.name }}">

		<div class="row">
			<div class="small-12 columns page-title">
				<h2>
					{{ page.title }}

					{% if page.custom_fields.page_subtitle %}
						<br><span class="subtitle">{{ page.custom_fields.page_subtitle }}</span>
					{% endif %}
				</h2>
			</div> <!-- .page-title -->
		</div> <!-- .row -->

		<div class="row">
			<div id="signup-story" class="hide-for-small desktop-signup">
				<div class="large-8 medium-6 columns page-ask">
					{% if page.custom_fields.image %}
						<div class="custom-image">
							<img src="{{ page.custom_fields.image }}" />
						</div> <!-- .custom-image -->
					{% endif %}

					{% autoescape off %}
						{% include_tmpl form.introduction_text %}
					{% endautoescape %}
				</div> <!-- .page-ask -->
			</div> <!-- .desktop-signup -->

			<div id="signup-form" class="large-4 medium-6 small-12 columns">
				<h3 class="form-header">{% if page.custom_fields.form_title %}{{ page.custom_fields.form_title }}{% else %}Sign up{% endif %}</h3>

				<div class="progress-meter-wrapper">
					{% include "./progress_meter.html" %}
				</div> <!-- .progress-meter-wrapper -->

				{% include "./user_form_wrapper.html" %}

				<div class="form-submit">
					<button type="submit" class="large alert">Sign Up</button>
				</div> <!-- .form-submit -->
			</div> <!-- #signup-form -->
		</div> <!-- .row -->
	</form>

	<div class="show-for-small mobile-signup">
		<div class="row">
			<div class="small-12 columns page-ask">
				{% autoescape off %}
					{% include_tmpl form.introduction_text %}
				{% endautoescape %}
			</div> <!-- .page-ask -->
		</div> <!-- .row -->
	</div> <!-- .mobile-signup -->
{% endblock %}
<!-- @END Development Template/signup.html -->
