{% extends "./wrapper.html" %}{% load actionkit_tags %}

{% block content %}

	<h2>{{ page.title }}</h2>

	<div id="signup-story" class="large-12 medium-12 small-12 columns col end">

		{% autoescape off %}

			<div class="ak-abovefold">{% include_tmpl form.introduction_text %}</div>

		{% endautoescape %}

		{% include "./progress_meter.html" %}
	</div>

	<div id="signup-form" class="large-12 medium-12 small-12 columns col border">

	<div class="large-8 medium-8 small-12 columns ak-mobile-lead">
		{% if page.custom_fields.image %}
			{{ page.custom_fields.image }}
		{% endif %}

	</div>

	<form class="large-4 medium-4 small-12 columns action_form" name="act" method="POST" action="/act/" accept-charset="utf-8">

		{% include "./user_form_wrapper.html" %}

		<button type="submit">Sign Up</button>

		<input type="hidden" name="page" value="{{ page.name }}">

		</div>

	</form>

{% endblock %}
