/*
	---------------------------------------------------------------------------
		Donate Page Styles
	---------------------------------------------------------------------------
*/

#act {
	.donate-step {
		.step-wrapper > .row {
			margin-bottom: 1.5rem;
		}
	}

	#type {
		span {
			@media #{$small-only} {
				display: block;
			}
		}
	}

	#amount_list {
		label {
			line-height: 41px;
		}

		input {
			margin-right: 0.5rem;
			position: relative;
			top: 1px;
		}

		.large-2.columns {
			float: left;
		}
	}

	#other_amount_container {
		float: left;

		label {
			position: absolute;
			top: 0px;
			left: 1rem;
			z-index: 99;
			color: #666;
		}

		input {
			padding-left: 1.25rem;
		}	
	}

	#jstreet-chapters {
		label {
			margin-bottom: 0;
		}
	}

	#id_action_iho_recipient_notification_message {
		height: 5rem;
	}

	.uppercase {
		#total {
			display: inline-block;
			font-weight: bold;
			font-size: 0.875rem;
			color: $alert-button-color;
		}
	}

	.product-amount {
		white-space: nowrap;
	}

	.donate-mobile-ask {
		margin-top: 3rem;

		img {
			float: none !important;
			margin: 0 0 1rem 0 !important;
		}

		.custom-image {
			float: none;
			text-align: center;
		}
	}
}


.step-wrapper {
	background: rgba(white, 0.95);
	padding: 0.5rem 1rem;
}

.step-header {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2rem;

	input, select, textarea {
		margin-bottom: 0;
	}

	.arrow {
		background: url(https://s3.amazonaws.com/s3.jstreet.org/foundation/img/small-arrow.png) no-repeat no-repeat;
		display: inline-block;
		height: 24px;
		width: 24px;
		margin-right: 0.5rem;
		position: relative;
		top: 5px;
	}
}

#candidates {
	.candidate-details {
		.candidate-portrait {
			float: left;
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
			max-width: 50%;
		}

		.candidate-name {
			color: $secondary-color;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 0.5rem;
		}
	}

	.candidate-amount {
		position: relative;

		label {
			position: absolute;
			top: 9px;
			left: 0.5rem;
			z-index: 99;
			color: #666;
		}

		input {
			padding-left: 1.25rem;			
		}
	}
}