/*
	---------------------------------------------------------------------------
		Donate Page Styles
	---------------------------------------------------------------------------
*/

#act {
	.donate-step {
		.step-wrapper > .row {
			margin-bottom: 1.5rem;
		}
	}

	#type {
		span {
			@media #{$small-only} {
				display: block;
			}
		}
	}

	#amount_list {
		label {
			line-height: 37px;
		}

		input {
			margin-right: 0.5rem;
			position: relative;
			top: 1px;
		}

		.large-2.columns {
			float: left;
		}
	}

	#amount_other_field {
		width: 75%;
		float: right;

		@media #{$small-only} {
			width: 85%;
		}
	}

	#jstreet-chapters {
		label {
			margin-bottom: 0;
		}
	}
}

.step-wrapper {
	background: rgba(white, 0.95);
	padding: 0.5rem 1rem;
}

.step-header {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2rem;

	input, select, textarea {
		margin-bottom: 0;
	}

	.arrow {
		background: url(https://s3.amazonaws.com/s3.jstreet.org/foundation/img/small-arrow.png) no-repeat no-repeat;
		display: inline-block;
		height: 24px;
		width: 24px;
		margin-right: 0.5rem;
		position: relative;
		top: 5px;
	}
}
