/*
	---------------------------------------------------------------------------
		Error Styles
	---------------------------------------------------------------------------
*/

#ak-errors {
	li {
		color: $errorColor;
	}
}

#act {
	label {
		&.ak-error {
			color: $errorColor;
		}
	}

	.ak-err {
		display: none !important;
	}
}