/*
	---------------------------------------------------------------------------
		Petition Specific Styles
	---------------------------------------------------------------------------
*/

.petition-text {
	background: rgba($ask-bg, 0.25);
	padding: 1rem;

	h3 {
		text-transform: uppercase;
	}

	.lead-in {
		color: $info-color;
		text-transform: uppercase;
		
		p {
			font-weight: bold;
		}
	}

	@media #{$small-only} {
		margin-bottom: 3rem
	}
}

.petition-form {
	@media #{$small-only} {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
}

.sidebar {
	.signature {
		margin-bottom: 2rem;

		&:last-child {
			margin-bottom: 0;
		}

		@media #{$small-only} {
			display: block !important;

			&.last {
				text-align: center !important;				
			}

			&:nth-child(odd) {
				text-align: right;
			}
		}
	}

	.signature-wrapper {
		padding: 1rem;
		background: white;
	}

	@media #{$small-only} {
		h3 {
			text-align: center;
		}
	}
}